@import "variables";
@import "mixins";

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: $cards-width;
  flex-wrap: wrap;
  padding-top: 0vh;
  column-gap: 10px;

  @include md {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: $cards-sm-width;
    margin-right: 35px;
    // $$
    // background-color: aqua;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-bottom: 4vh;

  width: 270px;
  height: 500px;

  padding: 24px, 16px, 24px, 16px;
  border-radius: 20px;
  border: 1px;
  gap: 10px;
}

.card__content {
  border-radius: 20px;
  margin-bottom: 2rem;

  width: $card-content-width;
  height: 450px;
}
.card__content_button {
  margin: 3vh 0 3vh 0.5vh;
  width: 200px;
  border-radius: 10px;
}

.card__content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2vh;

  width: $card-content-width;
  height: fit-content;
}

.card__content__header__item {
  width: $card-content-width;
  text-align: center;
  color: green;
}
.card__content__body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2vh auto;

  border: solid 1px #ccc;
  border-radius: 20px;

  width: 220px;
  height: 250px;
  // $$
  @include md {
    margin-left: -0.4vh;
  }
}

.card__content__number {
  display: flex;
  align-items: center;
  align-self: flex-end;

  width: fit-content;
  height: fit-content;

  font-size: 2rem;
}
.card__content__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card__content__footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin-top: 1.5vh;
  padding-right: 40px;
  padding-bottom: 10px;

  width: $card-content-width;
  height: 42px;
}
.card__content__footer__item {
  width: $card-content-width;
  text-align: end;
}
