@use './variables' as *;
@use './mixins' as *;
@use './functions' as *;

@include font-face('Pt', '../assets/fonts/pt-root-ui_medium');

@import '../../node_modules/normalize.css/normalize.css';

@import 'card';
@import 'loader';
@import 'select';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-base;
    background-color: $bg-light;
}

.noUi-connect {
  background: #66bb6a;
}
